<footer class="footer">
    <section>
        <article>
            <i class="fa-regular fa-credit-card"></i>
            <h4>Elegí cómo pagar</h4>
            <p>Podés pagar con tarjeta, débito, efectivo o hasta 12 cuotas sin tarjeta con Mercado Crédito.</p>
            <a>Cómo pagar tus compras</a>
        </article>
        <article>
            <i class="fa-regular fa-credit-card"></i>
            <h4>Envío gratis desde $ 23.000</h4>
            <p>Solo por estar registrado en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <a>Conocé más sobre este beneficio</a>
        </article>
        <article>
            <i class="fa-regular fa-credit-card"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
            <a>Cómo te protegemos</a>
        </article>
    </section>
    <section>
        <article>
            <h4>Botón de arrepentimiento</h4>
            <a>Cancelar una compra</a>
            <a>Cancelar una suscripción</a>
            <a>Cancelar un seguro o garantía</a>
        </article>
        <article>
            <h4>Conocé las normas que aplican cuando comprás</h4>
            <a>Ver contratos de adhesión - Ley N.º 24.240 de Defensa del Consumidor</a>
        </article>
    </section>
    <section class="footer__section__datosLegales">
        <i class="fa-regular fa-envelope footer__section__datosLegales--icon"></i>
        <h4 class="footer__section__datosLegales--h4">ayuda@mercadolibre.com.ar</h4>
        <img class="footer__section__datosLegales--img datosLegales--SSN" src="/Image/Site/ssnlogo.svg">
        <img class="footer__section__datosLegales--img datosLegales--financiero" src="/Image/Site/usuario-financiero.svg">
        <img class="footer__section__datosLegales--img datosLegales--fiscal" src="/Image/Site/data_fiscal.png">
    </section>
    <section class="footer__section__llamadoAccion">
        <img src="/Image/Site/logo.png" class="footer__section__llamadoAccion__logo">
        <h4>¡Comprar y vende con la app!</h4>
    </section>
    <section class="footer__section__masInfoOfrece">
        <h4 class="footer__section__masInfoOfrece--h4">Más información</h4>
        <nav class="footer__section__masInfoOfrece--nav">
            <article class="footer__section__masInfoOfrece__article">
                <h4 class="footer__section__masInfoOfrece__article--h4" class="footer__section__masInfoOfrece__article--h4">Acerca de</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Mercado Libre</a></li>
                    <li><a>Investor relations</a></li>
                    <li><a>Tendencias</a></li>
                    <li><a>Sustentabilidad</a></li>
                    <li><a>Blog</a></li>
                </ul>
            </article>
            <article class="footer__section__masInfoOfrece__article">
                <h4 class="footer__section__masInfoOfrece__article--h4">Otros sitios</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Developers</a></li>
                    <li><a>Mercado Pago</a></li>
                    <li><a>Mercado Shops</a></li>
                    <li><a>Envíos</a></li>
                    <li><a>Mercado Ads</a></li>
                </ul>
            </article>
            <article class="footer__section__masInfoOfrece__article">
                <h4 class="footer__section__masInfoOfrece__article--h4">Ayuda</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Comprar</a></li>
                    <li><a>Vender</a></li>
                    <li><a>Resolución de problemas</a></li>
                    <li><a>Centro de seguridad</a></li>
                </ul>
            </article>
            <article class="footer__section__masInfoOfrece__article"> 
                <h4 class="footer__section__masInfoOfrece__article--h4">Redes sociales</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Twitter</a></li>
                    <li><a>Facebook</a></li>
                    <li><a>Instagram</a></li>
                    <li><a>YouTube</a></li>
                </ul>
            </article>
            <article class="footer__section__masInfoOfrece__article"> 
                <h4 class="footer__section__masInfoOfrece__article--h4">Mi cuenta</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Ingresá</a></li>
                    <li><a>Vender</a></li>
                </ul>
            </article>
            <article class="footer__section__masInfoOfrece__article"> 
                <h4 class="footer__section__masInfoOfrece__article--h4">Mercado Puntos</h4>
                <ul class="footer__section__masInfoOfrece--ul">
                    <li><a>Nivel 6</a></li>
                    <li><a>Disney+</a></li>
                    <li><a>Star+</a></li>
                    <li><a>Max</a></li>
                    <li><a>Paramount+</a></li>
                </ul>
            </article>
        </nav>
    </section>
    <section class="footer__section__masDeNosotros">
        <div class="footer__section__masDeNosotros__CreaOIng">
            <a class="footer__section__masDeNosotros__CreaOIng--a">Ingresa <i class="fa-solid fa-angle-right"></i></a>
            <a class="footer__section__masDeNosotros__CreaOIng--a">Crea tu cuenta <i class="fa-solid fa-angle-right"></i></a> 
        </div>  
        <nav class="footer__section__masDeNosotros__subNavegacion">
            <ul class="footer__section__masDeNosotros__subNavegacion__ul">
                <li><a>Trabajá con nosotros</a></li>
                <li><a>Términos y condiciones</a></li>
                <li><a>Cómo cuidamos tu privacidad</a></li>
                <li><a>Accesibilidad</a></li>
                <li><a>Información al usuario financiero</a></li>
                <li><a>Ayuda</a></li>
                <li><a>Defensa del Consumidor</a></li>
                <li><a>Información sobre seguros</a></li>
                <li><a>Hot Sale</a></li>
            </ul>
        </nav>
        <div class="footer__section__masDeNosotros__lugarCopy">
            <p>Copyright © 1999-2024 MercadoLibre S.R.L.</p>
            <p>Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p> 
        </div>  
    </section>
</footer>