<header class="header">
    <a class="header__link">
        <img src="/Image/Site/logo.png" class="header__logo">
        <p class="header__nombre">mercado liebre</p>
    </a>
    <form class="header__form__busquedas">
        <button class="header__form__busquedas__button"><i class="fa-solid fa-magnifying-glass header__form__busquedas__button__icon"></i></button>
        <input class="header__form__busquedas__input" placeholder="Estoy buscando...">
    </form>
    <a class="header__ofertaNivel6">
        <div class="header__ofertaNivel6__imagenTexto">
            <img class="header__ofertaNivel6__imagenTexto--img" src="/Image/Site/combo-logo.png">
            <p class="header__ofertaNivel6__imagenTexto--txt">INCLUIDOS</p>
        </div>
        <p class="header__ofertaNivel6__llamadoAccion">Por 2.999 ¡Suscribite al nivel 6!</p>
    </a>
    <button><i class="fa-solid fa-bars header__icon header__icon__notBig"></i></button>
    <section class="header__domicilios--listado">
        <article class="header__domicilios">
            <button class="header__domicilios__button">
                <i class="fa-solid fa-location-dot header__domicilios__i"></i>
                Ingresa tu domicilio
            </button>
            <button><i class="fa-solid fa-angle-right header__domicilios__i header__icon__notBig"></i></button>
        </article>
        <nav class="header__listadoNavegacion">
            <ul class="header__listadoNavegacion__ul header__listadoNavegacion__categorias">
                <li><a>Categorias <i class="fa-solid fa-chevron-down"></i></a></li>
            </ul>
            <ul class="header__listadoNavegacion__ul header__listadoNavegacion__listadoGeneral">
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Ofertas</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Historial</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Supermercado</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Moda</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Mercado Play</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Vender</a></li>
                <li class="header__listadoNavegacion__listadoGeneral__li"><a>Ayuda</a></li>
            </ul>
            <ul class="header__listadoNavegacion__ul header__listadoNavegacion__sesion">
                <li class="header__listadoNavegacion__sesion__li"><a>Crea tu cuenta</a></li>
                <li class="header__listadoNavegacion__sesion__li"><a>Ingresa</a></li>
                <li class="header__listadoNavegacion__sesion__li"><a>Mis compras</a></li>
                <li class="header__listadoNavegacion__sesion__li"><a><i class="fa-solid fa-cart-shopping header__icon"></i></a></li>
            </ul>
        </nav>
    </section>
</header>